/* style.css */
/* for CSS Team 2 Final Project */
/* June 19 2017 */
* {
	box-sizing: border-box;
}
body {
	margin: 0;
}

body {
	height: 100%;
	width: 100%;
	font-family: Arial, Helvetica;
	padding: 150px 0 0 0;
	background: #FDFDFD;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -75px; /* the bottom margin is the negative value of the footer's height */
}

header {
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
	background: #4E87A0;
	font-size:1.5em;
}

.fixedheader {
	position: fixed;
	margin-bottom: 50px;
	width: 100%;
	top: 0;
	z-index: 1;
}


.header-title {
	color: #FFF; 
	margin-top: 0;
	margin-left: 20px;
	display: block;
	float: left;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	
}

.header-caps {
	font-size: 2.5em;
}
.header-small-caps {
	font-size: 1.5em;
}

.header-user-name {
	margin-top:37px;
	margin-right: 10px;
	display: block;
	float: right;
	color:#FFF;
 	text-transform:capitalize;
}
#header-bottom {
	clear: both;
}

#breadcrumb {
	background: #FF6C24;
	color:#fff;
	padding:5px 0 5px 15px;
	/*margin-bottom: 20px;*/
	/*border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;*/
	font-size:1.25em;
	font-weight: bold;
}

main {
	padding: 0 20px 0 20px;
	margin-top: 20px;
}

#div-register-user {
	margin-top: 30px;
}

.clarkbook {
	color:#FFF; 
	margin-right:30px;
	font-size:1.5em;
	font-weight: bold;
}

.logo {float:right;}

/*footer, .wrapper:after {
	height: 50px;
	background: #4E87A0;
	color:#fff;
	width: 100%;
	padding:15px;
	margin-top: 20px;
}*/

footer {
	color:#fff;
	background: #4E87A0;
    position: relative;
    left: 0;
    /*bottom: 0;*/
    height: 100px;
    width: 100%;
    overflow:hidden;
    margin-top: 400px;
}

footer a {
	color:#fff;
	padding:8px;
	/*border-radius: 2px;*/
 	text-transform:capitalize;
    text-decoration: none;

}

footer a:hover, a:active {
    background-color: #FF6C24;
}

span.footer-back {
	float: left;
	display: block;
	padding: 20px;
	font-size:1.15em;
}

span.footer-log-out {
	float: right;
	display: block;
	padding: 20px;
	font-size:1.15em;
}

span.footer-copyright {
	display: block;
	margin-top: 60px;
	text-align: center;
	font-size: 1em;
}

table {
	width: 100%;
	/*text-transform: capitalize;*/
	border: 3px solid #666;
	border-collapse: collapse;
	/*text-transform: uppercase;	*/
}
th {
	/*background:#77A140;*/
	background:#365e70;
	color:#FFf;
	padding:10px;
	border:1px solid #666;
}

td {padding:4px;
	border:1px solid #666;
	text-align:center;
}
td.leftalign {
	text-align:left;
}

td.surveyname {
	text-align:left;
	width:30%;	
	/*text-transform: uppercase;*/
	/*font-weight: bold;*/
}

table.sm-col-name{ width:60%;}


#div-error-msg {
	background: #FF0000;
	color: white;
	padding-left: 5px;
	font-size: 1.5em;
	font-weight: bold;
}

label, select, option {text-transform:capitalize;}

/*************************************************
 * CSS for register.php
 *************************************************/
 
.reg-label {
	display: block;
	float: left;
	width: 130px;
	margin-left: 10px;
	text-align: right;
	margin-right: 10px;
	font-size: 1.2em;
}

.reg-chk {
	
}

.reg-field {
	font-size: 1.2em;
}
.reg-button {
	
}

span.fake-anchor {
	text-decoration: underline;
}

#sel-user-id {padding:4px; margin-bottom: 20px;}

.lbl-create-team {
	display: block;
	float: left;
	width: 130px;
	/*margin-left: 10px;*/
	text-align: left;
	font-size: 1.2em;
}

.input-create-team {
	font-size: 1.2em;
	margin-bottom: 10px;
}

#tbl-edit-team, #table-team-name {
	/*margin-left: 150px;*/
	width: 60%;
	margin-top: 20px;
	border: 3px solid #666;
	border-collapse: collapse;
	padding:0px;
}

button {
	margin-right:4px;
	/*font-size: 1.2em;*/
}

#btn-create-team {
	/*margin-left: 150px;*/
	margin-top: 20px;
}

#lbl-create-team, #btn-add-team {
	display: block;
	float: left;
	width: 130px;
/*	margin-left: 10px;*/
	text-align: center;
	margin-right: 10px;
}

input {
	padding-left: .2em;
}

button.btn-analyze {
	display: block;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

p.resp-grade {
	clear: left;
	margin-top: 20px;
}

 
label, .lbl-post-survey {
	display: block;
	float: left;
	width: 130px;
	font-size: 1.2em
}

input, .inp-post-survey {
	font-size: 1.2em;
}

#add-question{width:100%;}

/*************************************************
 * CSS for survey_on_me.php and responses.php
 *************************************************/
 #question {
 	/*margin-top: 100px;*/
 	padding-top: 40px;
 	padding-left:2px;
 	padding-bottom: 2px;
 	font-size:1.2em;
 	color:#FFF;
	text-transform:uppercase; 
	background-color: #7caabf;
	border: 2px solid black;
    border-radius: 6px;
}

.question {
	background-color:#DBE5EB;
	padding: 10px 0;
	margin: 0px 0 10px 0;
}

textarea.ta-response {
     width: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	border-color: gray;
	padding-bottom: 80px;
}

textarea.ta-response-redo {
     width: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	border-color: gray;
	background: repeating-linear-gradient(
	  45deg,
	  #606dbc,
	  #606dbc 10px,
	  #465298 10px,
	  #465298 20px);
	  color: white;
	  text-align: center;
	  vertical-align: center;
}

textarea.ta-response-none {
     width: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	border-color: gray;
	background: repeating-linear-gradient(
	  45deg,
	  #606dbc,
	  #606dbc 10px,
	  #465298 10px,
	  #465298 20px);
	  color: white;
	  text-align: center;
	  vertical-align: center;
}

.resp-grade {
	clear: left;
    margin: 0 4px 4px;
    font-weight: bold;
    padding-top: 20px;
}

.resp-grade-highlight-normal {
	background: white;
}

.resp-grade-highlight-warning {
	background: yellow;
}


/*************************************************
 * CSS for survey_on_me.php and responses.php
 *************************************************/
#div-resp-student-select{
	margin-top:40px;
	font-size: 1.15em;
}


#reviewer{
	font-size: 1em;
	font-style: italic;
	text-align: right;
	padding-right: 5px;
	/*    margin-bottom: 10px;
	background: #FF6C24;
    color: #fff;
    padding: 5px 0 5px 15px;
    margin-bottom: 20px;
    font-size: 1.25em;
    font-weight: bold;*/

}

#div-resp-student{
	/*float:right;
	color:#fff;
	padding:0px;
	*/
	padding: 0 0 5px 15px;
	display:block;
	background-color: #FF6C24;
}

 button{
 	border-radius: 4px;
 	padding:6px;
 }

#btn-summary, .btn-hide, .resp-button {
	display: inline-block;
	float: left;
	margin-left:0px;
	margin-bottom: 20px;
	margin-top: 5px;
}
#btn-summary{
	margin-top:20px;
	margin-left:10px;}



.clear-question {
	clear: left;
}

#btn-summary {
	width: auto;
	display: block;
}

/*************************************************
 * CSS for active and selected links on Dashboard and edit team
 *************************************************/
 a{	text-decoration: none;

 	/*text-transform:capitalize;*/
    padding:4px;}
 a:hover, a:active {
    background-color: #DBE5EB;
}

/*************************************************
 * CSS for Tone Summary
 *************************************************/

.bar{
	/*width:360px;*/
	width:50%;
    background-color: #f4f8f9;
    display: inline-flex;
    padding: 6px;
}

.details { 
	width:300px;
	height: 20px;  /* Can be anything */
	position: relative;
	background: #555;
	background-color:tan;
	/*padding: 10px;*/
}

.txt-summary{
	margin:0;
	background-color:#DBE5EB;
}

.tone-summary, .resp-tone {
    font-size: .85rem;
   	/*font-size: .75rem;*/
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 40px;
    display: inline;
    /*background-color:#f4f8f9;*/
    /*display: inline-block;*/
 }
.resp-tone {
    margin-top: 5px;
    margin-bottom: 10px;
}

/**********************************************/
/****TONE Results - Table format. Curently not used*****/
/**********************************************/
.t-results{
	display:table-cell;
	align-content: top;
}

.t-results table {
	border:none;
	border-collapse: collapse;}


.t-results td, th{border: 0 solid; 
text-align: left;}

/**********************************************/
/****Tone Error if no text in textarea *****/
/**********************************************/

.tone-error{
	display:inline-block;
	background-color:yellow;
	margin:20px 40px;
}

/**********************************************/
/****TONE Results BAR Chart*****/
/**********************************************/
/*.out {*/
    background-color: pink;
    /* ///display: inline-flex;*/
/*    display:-webkit-inline-box;
 }*/

/** container for each category */
.summaryemotion{
    margin: 1%;
    width: 100%;
 }

/*** Tone category (Emotion, Language...)*//
.cat{
    /*background-color: #365e70;% */
    /*color: #4e87a0;*/
    padding-bottom: 4px;
    font-size: 1em;
    font-weight: 700;
    color: #5a5a5a;
}

/** tone bar background */
.meter { 
	/*height: 2*/
	position: relative;
	background: #EFEFEF; /*gray background*/
}

/*tone that is present -darker orange */
.meter-present { 
	/*height: 2*/
	position: relative;
	background: #e0e0e0; /*gray background*/
}

.meter-present > span {
	/*> .75 = likely present*/
	padding:2px; /**/
	display: block;
	height: 100%;
	background-color: #FF6C24; /*bar color bright orange(header)*/
	position: relative;
	/*overflow: hidden;*/
	border-radius: 4px;
}

/*tone that is likely to be preceived - orange */
.meter-likely { 
	/*height: 2*/
	position: relative;
	background: #e0e0e0; /*gray background*/
}

.meter-label-likely{
	color: #000;
	padding-top:4px;
}

.meter-likely > span {
	/*> .5 = likely present*/
	padding:2px; /**/
	display: block;
	height: 100%;
	background-color: #ffa500; /*bar color orange*/
	position: relative;
	/*overflow: hidden;*/
	border-radius: 4px;
}

/*tone without enough data to judge - gray */
.meter-label{
	color: #4e87a0; /*#EFEFEF  #4e87a0*/
	padding-top:4px;
}

.meter > span {
	/*< .5 = not likely present */
	padding:2px; /**/
	display: block;
	height: 100%;
	background-color: #ccc; /*bar color lgtgray*/
	position: relative;
	/*overflow: hidden;*/
	border-radius: 4px;
}


/************************/
/*T0ne button - currently not in*/
.iconbutton {
  background: url('/team2-final-project/images/toneq.png') left center no-repeat;
  padding:6px;
  width:20px;
  height:20px;
}